<IfModule mod_rewrite.c>
  RewriteEngine On

  # Prevent direct access to hidden files
  <FilesMatch "^\.">
    Order allow,deny
    Deny from all
  </FilesMatch>

  # Route all requests through index.php
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.php [L]
</IfModule>

